{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base", 
    "eslint:recommended",
    "plugin:react/recommended"
    // "plugin:prettier/recommended", 
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/first": "off",
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "no-trailing-spaces":"off",
  }
}
